body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: blue;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.produits-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.produit {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 30%;
}

.produit img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 10px 0;
    position:fixed;
    bottom: 0;
    width: 100%;
    
}
